<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ListingApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>52983770A1CDC39ED3F4635C9913580FABAEC812</string>
				<key>dateExpires</key>
				<string>10/26/20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6CF48YVT7Y.com.kynginc.fadr</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>6CF48YVT7Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Black MD.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>20856305-0311-4f6e-863f-a1554b952c5e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kynginc.fadr</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6CF48YVT7Y</string>
				<key>name</key>
				<string>Cameron King</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
